// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "SFProDisplay"; // Шрифт за замовчуванням
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #fff; // Колір шрифту за замовчуванням
$bgColor: #090F1E;
$bgElement: rgba(78, 93, 134, 0.30);
$yellowBtn: linear-gradient(273deg, #FF5C00 0%, #FFF173 100%);
$blackText: #090F1E;
$lightGray: rgba(255, 255, 255, 0.50);
$linkActive: linear-gradient(91deg, #108DE7 0%, #0855C4 100%);
$registerBtn: linear-gradient(70deg, #31bc69 -8%, #089e4e 96%);
$loginBtn: linear-gradient(103deg, #108de7 -30%, #0855c4 100%);
$footerTitle: #5a647a;
$footerText: #fff;
$bg_1: linear-gradient(90deg, rgb(27, 241, 255) 0%, rgb(8, 85, 196) 100%);
$bg_2: linear-gradient(90deg, rgb(141, 83, 233) 0%, rgb(0, 183, 255) 100%);
$bg_3: linear-gradient(90deg, rgb(0, 183, 255) 0%, rgb(199, 0, 255) 50%, rgb(255, 187, 0) 100%);
$bg_4: linear-gradient(90deg, rgb(255, 78, 223) 0%, rgb(255, 41, 88) 100%);


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1890;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
