<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__top">
			<div class="header__left">
				<div class="header__icons">
					<a class="header__icon" href="/out/1win">
						<img src="@img/icons/lock.svg" alt="Lock">
					</a>
					<a class="header__icon" href="/out/1win">
						<img src="@img/icons/phone.svg" alt="Phone">
					</a>
				</div>
				<a class="header__light-money" href="/out/1win">
					<span>
						Free Money!
					</span>
				</a>
			</div>
			<div class="header__right">
				<div class="header__promo-buttons">
					<a class="header__promo-link" href="/out/1win">
						<div class="image-circle">
							<img src="@img/icons/present.svg" alt="Present">
						</div>
						<span>Promotions and bonuses</span>
					</a>
					<a class="header__promo-link" href="/out/1win">
						<div class="image-circle">
							<img src="@img/icons/tikkets.svg" alt="Present">
						</div>
						<span>Lucky Drive</span>
					</a>
				</div>
				<div class="header__info">
					<div class="header__app">
						<div class="header__app-wrap">
							<span class="bold">Application</span>
							<span class="regular">for Mac OS</span>
						</div>
						<a class="header__app-link" href="/out/1win">
							<img src="@img/icons/mac-os.svg" alt="Icon Mac">
						</a>
					</div>
					<button class="header__lang" type="button">
						<span>EN</span>
						<img src="@img/icons/en.svg" alt="Language">
					</button>
				</div>
			</div>
		</div>
		<div class="header-mobile">
			<div class="header-mobile__logo">
				<a href="index.html" class="header-mobile__link"><img src="@img/logo.svg" alt="Logo"></a>
			</div>
		</div>

		<div class="header__bottom">
			<div class="header-mobile">
				<div class="header-mobile__buttons">
					<a class="header-mobile__sign-in" href="/out/1win">Sign in</a>
					<a class="header-mobile__sign-up" href="/out/1win">Sign up</a>
				</div>
			</div>

			<div class="header__wrap-menu">
				<div class="logo">
					<a href="index.html" class="header__logo"><img src="@img/logo.svg" alt="Logo"></a>
				</div>
				<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
			</div>
			<div class="header__authentication">
				<a class="header__login" href="/out/1win">Login</a>
				<a class="header__register" href="/out/1win">Registration</a>
			</div>
		</div>
	</div>
</header>