<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__logo">
			<a href="index.html" class="footer__logo-link"><img src="@img/logo.svg" alt="Logo"></a>
		</div>
		<div class="footer__info">
			<div class="footer__support">
				<span>Support</span>
				<p>Write to us if You still have any questions!</p>
			</div>
			<div class="footer__contacts">
				<span class="footer__title">Support contacts</span>
				<div class="footer__table">
					<ul class="footer__list-title">
						<li>Technical support</li>
						<li>Security service</li>
						<li>Commercial offers</li>
						<li>Affiliate program</li>
					</ul>
					<ul class="footer__list-item">
						<li><a class="footer__list-link" href="/out/1win">support@1win.social</a></li>
						<li><a class="footer__list-link" href="/out/1win">security@1win.social</a></li>
						<li><a class="footer__list-link" href="/out/1win">business@1win.social</a></li>
						<li><a class="footer__list-link" href="/out/1win">partners@1w.run</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__information">
				<span class="footer__title">Information</span>
				<ul class="footer__list-item">
					<li><a class="footer__list-link" href="/out/1win">Rules</a></li>
					<li><a class="footer__list-link" href="/out/1win">Bonuses and promotions</a></li>
					<li><a class="footer__list-link" href="/out/1win">Mobile version</a></li>
					<li><a class="footer__list-link" href="/out/1win">Affiliate program</a></li>
				</ul>
			</div>
			<div class="footer__categories">
				<span class="footer__title">Categories</span>
				<ul class="footer__list-item">
					<li><a class="footer__list-link" href="/out/1win">Live</a></li>
					<li><a class="footer__list-link" href="/out/1win">Sports</a></li>
					<li><a class="footer__list-link" href="/out/1win">Promotions</a></li>
					<li><a class="footer__list-link" href="/out/1win">Live-games</a></li>
					<li><a class="footer__list-link" href="/out/1win">Poker</a></li>
					<li><a class="footer__list-link" href="/out/1win">Casino</a></li>
				</ul>
			</div>

			<div class="footer__blocks">
				<a href="/out/1win" class="footer__block">
					<div class="footer__brand">
						<img src="@img/brand/ios.svg" alt="Brand">
					</div>
					<div class="footer__brand-descr">
						<span class="app">Application</span>
						<span class="platform">for iOS</span>
					</div>
				</a>
				<a href="/out/1win" class="footer__block">
					<div class="footer__brand">
						<img src="@img/brand/android.svg" alt="Brand">
					</div>
					<div class="footer__brand-descr">
						<span class="app">Application</span>
						<span class="platform">for Android</span>
					</div>
				</a>
				<a href="/out/1win" class="footer__block">
					<div class="footer__brand">
						<img src="@img/brand/mac-os.svg" alt="Brand">
					</div>
					<div class="footer__brand-descr">
						<span class="app">Application</span>
						<span class="platform">for Mac OS</span>
					</div>
				</a>
			</div>
		</div>
		<div class="footer__main">
			<ul class="footer__social">
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-1.svg" alt="Social"></a></li>
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-2.svg" alt="Social"></a></li>
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-3.svg" alt="Social"></a></li>
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-4.svg" alt="Social"></a></li>
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-5.svg" alt="Social"></a></li>
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-6.svg" alt="Social"></a></li>
				<li><a class="footer__social-link" href="/out/1win"><img src="@img/social/social-7.svg" alt="Social"></a></li>
			</ul>

			<ul class="footer__partners">
				<li class="footer__partners-item"><img src="@img/partner/partner-1.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-2.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-3.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-4.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-5.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-6.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-7.svg" alt="Partner"></li>
				<li class="footer__partners-item"><img src="@img/partner/partner-8.svg" alt="Partner"></li>
			</ul>

			<div class="footer__buttons">
				<button class="footer__lang" type="button">
					<span>EN</span>
					<img src="@img/icons/en.svg" alt="Language">
				</button>
				<div class="footer__icons">
					<a class="footer__icon" href="/out/1win">
						<img src="@img/icons/phone.svg" alt="Phone">
					</a>
					<a class="footer__icon" href="/out/1win">
						<img src="@img/icons/arrow-top.svg" alt="Arrow top">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__payment">
			<ul class="footer__payment-list">
				<li class="footer__payment-item"><img src="@img/payment/payment-1.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-2.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-3.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-4.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-5.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-6.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-7.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-8.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-9.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-10.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-11.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-12.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-13.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-14.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-15.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-16.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-17.svg" alt="Payment"></li>
				<li class="footer__payment-item"><img src="@img/payment/payment-18.svg" alt="Payment"></li>
			</ul>
		</div>
		<div class="footer__bottom">
			<p class="footer__copyright">
				<span>© 2025 1win.</span> NextGen Development Labs Ltd (the Republic of Seychelles). All rights reserved. The content on this site is
				the exclusive property of NextGen Development Labs Ltd. Unauthorized reproduction, modification, distribution,
				publication, transmission, or any form of copying is strictly prohibited.
			</p>
			<ul class="footer__game-partner">
				<li><a class="footer__game-link" href="/out/1win"><img src="@img/game-partner/game-1.svg" width="43" height="43" alt="Game partner"></a></li>
				<li><a class="footer__game-link" href="/out/1win"><img src="@img/game-partner/game-2.png" width="26" height="26" alt="Game partner"></a></li>
				<li><a class="footer__game-link" href="/out/1win"><img src="@img/game-partner/game-3.png" width="87" height="26" alt="Game partner"></a></li>
				<li><a class="footer__game-link" href="/out/1win"><img src="@img/game-partner/game-4.png" width="26" height="26" alt="Game partner"></a></li>
				<li><a class="footer__game-link" href="/out/1win"><img src="@img/game-partner/game-5.png" width="26" height="26" alt="Game partner"></a></li>
				<li>18+</li>
			</ul>
		</div>
	</div>
</footer>

<div class="menu-bottom">
	<ul class="menu-bottom__list">
		<li class="menu-bottom__item">
			<a class="menu-bottom__link" href="/out/1win">
				<img src="@img/menu-bottom/menu-1.svg" alt="Menu item">
				<span class="active">Main</span>
			</a>
		</li>
		<li class="menu-bottom__item">
			<a class="menu-bottom__link" href="/out/1win">
				<img src="@img/menu-bottom/menu-2.svg" alt="Menu item">
				<span>Sports</span>
			</a>
		</li>
		<li class="menu-bottom__item">
			<a class="menu-bottom__link" href="/out/1win">
				<img src="@img/menu-bottom/menu-3.svg" alt="Menu item">
				<span>Free Money</span>
			</a>
		</li>
		<li class="menu-bottom__item">
			<a class="menu-bottom__link" href="/out/1win">
				<img src="@img/menu-bottom/menu-4.svg" alt="Menu item">
				<span>Casino</span>
			</a>
		</li>
		<li class="menu-bottom__item">
			<a class="menu-bottom__link" href="/out/1win">
				<img src="@img/menu-bottom/menu-5.svg" alt="Menu item">
				<span>Live-games</span>
			</a>
		</li>
		<li class="menu-bottom__item">
			<a class="menu-bottom__link" href="/out/1win">
				<img src="@img/menu-bottom/menu-6.svg" alt="Menu item">
				<span>Menu</span>
			</a>
		</li>
	</ul>
</div>